<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>藏宝阁_游戏交易平台</title>
	<meta name="keywords" content="藏宝阁,游戏交易平台,手游交易平台,账号交易,游戏元宝交易,游戏充值,网易游戏">
	<meta name="description"
		content="藏宝阁，网络游戏交易平台，为玩家提供梦幻西游,梦幻手游,阴阳师,大话西游,大话手游,逆水寒,率土之滨,荒野行动等游戏虚拟物品交易,手游交易,账号交易,游戏币交易,装备交易等服务。买号卖号选装备，上藏宝阁">
	<link href="css/common.css?v=20190812" rel="stylesheet" type="text/css" />
	<link href="css/index.css?v=20230425" rel="stylesheet" type="text/css" />
	<link href="./app/css/app-download.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="https://cbg.163.com/favicon.ico">
	<script>
		if (/openharmony|iphone|ipod|ipad|ipad|Android|nokia|blackberry|webos|webos|webmate|bada|lg|ucweb/i.test(navigator.userAgent.toLowerCase())) {
			location.href = './m.html' + location.search;
		}
	</script>
</head>

<body>
	<div class="container" id="container">
		<!-- 顶部栏 -->
		<div id="top_bar" class="top_bar">
			<div class="top_bar_content">
				<img class="cbg_logo" src="./images/web_index/cbg-logo-orange.png" alt="CBG_LOGO"></img>
				<span class="treasure_colection"></span>
				<a href="#download-app" id="download_app" style="display: none;" class="download-app-btn">下载APP</a>
			</div>
		</div>
		<div id="top_banner" class="top_banner">
		  <div class="swiper-wrapper js_top_banner_swiper">
		  	<script type="text/html" id="swiper_top_banner_template">
		  		<% var list = this.list %>
		  		<% for (var i = 0,max = list.length; i < max; i++) { %>
		  			<div class="swiper-slide" style="background: <%= list[i].bg_color || '#00a9f7' %>">
		  				<a href="<%= list[i].url || 'javascript:void(0)'%>" target="<%= list[i].url? '_blank': '_self'%>">
		  					<img src="<%= list[i].img_url %>" alt="">
		  					<% if(!list[i].mode) { %>
		  						<span class="content">
		  							<% if(list[i].is_show_title && list[i].title) { %>
		  								<span class="title block"><%= list[i].title %></span>
		  							<% } %>
		  							<% if(list[i].is_show_subtitle && list[i].subtitle) { %>
		  								<span class="subtitle block"><%= list[i].subtitle %></span>
		  							<% } %>
		  							<% if(list[i].is_show_btn && list[i].btn_text) { %>
		  								<span class="btn" style="background: <%= list[i].btn_color %>"><%= list[i].btn_text %></span>
		  							<% } %>
		  						</span>
		  					<% } %>
		  				</a>
		  			</div>
		  		<% } %>
		  	</script>
		  </div>
		  <ul class="swiper-pagination js_top_banner_pagination">
		  	<script type="text/html" id="swiper_top_banner_pagination_template">
		  		<% var list = this.list || [] %>
		  		<% for (var i = 0,max = list.length; i < max; i++) { %>
		  			<li class="swiper-pagination-bullet swiper-pagination-bullet-<%= i %>">						
		  			</li>
		  		<% } %>
		  	</script>
		  </ul>
		</div>

		<div class="container-main">
			<!-- 游戏列表 -->
			<script type="text/html" id="hot_game_list_template">
				<ul class="hot_game-list clearfix">
					<% var list = this.hot_game_list || [] %>
					<% var hot_game_flags = [] %>
					<% var max = Math.min(this.max, list.length) %>
					<% for (var i = 0; i < max; i++) { %>
						<% hot_game_flags.push(list[i].game_flag) %>
						<li class="item">
							<a href="<%= list[i].game_home_page %>"  target="_blank" stat="tid:entrance;text:热门_<%= list[i].game_flag %>;">
								<span class="info block">
									<span class="name block"><%= list[i].game_name %></span>
									<span class="desc">
										<%= list[i].abstract || ""%>
										<i class="icon-entry"></i>
									</span>
								</span>
								<img src="<%= list[i].game_img_url %>" alt="">
							</a>
						</li>
					<% } %>
				</ul>
				<ul class="all-game-list clearfix">
					<% var list = this.game_list || [] %>
					<% for (var i = 0,max = list.length; i < max; i++) { %>
						<% var label = list[i].game_label.toLocaleLowerCase(); %>
						<% if(hot_game_flags.includes(list[i].game_flag)) { continue; }%>
						<li class="item <%= label ? 'has-'+label : ''%>">
							<a href="<%= list[i].game_home_page %>"  target="_blank" stat="tid:entrance;text:热门_<%= list[i].game_flag %>;">
								<span class="img-wrapper">
									<img src="<%= list[i].game_img_url %>" alt="">
								</span>
								<span class="name block"><%= list[i].game_name %></span>
							</a>
						</li>
					<% } %>
				</ul>
      </script>
			<!-- 热门游戏 -->
			<div class="game-main clearfix">
				<div class="card mobile-game">
					<h2 class="title title-mobile">
						<i class="icon-mobile icon-base"></i><span>手游藏宝阁</span>
						<div class="game-download-btn-wrap" id="js_game_download_btn" >
							<a href="javascript:;" class="game-download-btn">
								<img src="./images/game_download_btn.png" alt="">
							</a>
							<div class="float-tips js_game_download_float_tips">
								<p>所购角色只能通过官服游玩</p>
								<div class="close-btn js_close_float_tips pointer">我知道了</div>
							</div>
							<div class="js_game_download_popup game-download-popup"></div>
						</div>
					</h2>
					<div class="game-list js_hot_mobile_game"></div>
				</div>
				<div class="card pc-game">
					<h2 class="title title-pc">
						<i class="icon-pc icon-base"></i><span>端游藏宝阁</span>
					</h2>
					<div class="game-list js_hot_pc_game"></div>
				</div>
			</div>

			<!--新手必看-->
			<div class="biginner-must-read module">
				<div class="module-header">
					<h2 class="title">新手必看</h2>
					<div class="header-right pagination" id="pagination"></div>
				</div>
				<ul class="module-content biginner-must-read-content clearfix" data-currpage="1"></ul>
				<!--分页器模板-->
				<script type="text/html" id="pagination_template">
					<% var all_page = this.all_page %>
					<i class="icon-left-arrow icon-item pointer btn-disabled" id="prev_page"></i>
					<span class="curr-page" id="curr_page">1</span>
					<span class="all-page">/ <%= all_page %></span>
					<i class="icon-left-arrow icon-right-arrow icon-item pointer" id="next_page"></i>
				</script>
				<script type="text/html" id="biginner_must_read_template">
					<% var list = this.list || [] %>
					<% var max_count = 3 %>
						<% for (var i = 0,max = list.length; i < max; i++) { %>
							<li data-index="<%= i %>" class="bmr-item item <%= i>=max_count ? 'hidden' : 'item-active'%>">
								<a  href="<%= list[i].content_url %>"  target="_blank">
									<span class="item-title block"><%= list[i].title %></span>
									<span class="item-content block"><%= list[i].abstract %></span>
									<span class="item-footer block">
										<span>0<%= i + 1 %></span>
										<span class="more">
											查看更多<i class="icon-more-arrow"></i>
										</span>
									</span>
								</a>
							</li>
						<% } %>
				</script>
			</div>
			<div class="clearfix">
				<!--新闻公告-->
				<div class="news module">
					<div class="module-header">
						<h2 class="title">新闻公告</h2>
						<a class="header-right more"href="./news.html">
							<span>查看更多</span>
							<i class="icon-more icon-item"></i>
						</a>
					</div>
					<ul class="module-content module-card js_news_list"></ul>
					<script type="text/html" id="news_template">
						<% var list = this.list %>
							<% for (var i = 0,max = list.length; i < max; i++) { %>
								<li class="item clearfix">
									<a class="item-main" href="<%= list[i].content_url %>" target="_blank">
										<span class="item-title block"><%= list[i].title %></span>
										<span class="item-content block"><%= list[i].abstract %></span>
									</a>
									<span class="date"><%= list[i].date %></span>
								</li>
							<% } %>
					</script>
					<script type="text/html" id="game_download_list_template">
						<% var list = this.list %>
						<% var max = list.length; %>
							<div class="js_game_download_list game-download-list">
								<ul class="all-game-list clearfix">
									<% for (var i = 0; i < max; i++) { %>
										<li class="item pos-relative">
											<a
												href="javascript:;"
												data-download-link="<%= list[i].download_link_pc %>"
												data-product="<%= list[i].product %>"
											>
												<span class="img-wrapper pos-relative">
													<img src="<%= list[i].game_img_url %>" alt="">
												</span>
												<span class="name block"><%= list[i].game_name %></span>
											</a>
										</li>
									<% } %>
								</ul>
							</div>
							<div id="js_game_download_actions" class="game-download-right">
								<div class="game-download-mobile">
									<div><i class="icon-mobile-gray icon-base"></i><span>手机版</span></div>
									<div id="js_game_download_qr" class="scan-download pos-relative">
									</div>
									<p class="download-tips f12px">请使用手机扫码下载</p>
								</div>
								<div class="js_game_download_pc game-download-pc">
									<div><i class="icon-pc-gray icon-base"></i><span>电脑版</span></div>
									<a
										id="js_pc_game_download_btn"
										href="javascript:;"
										class="download-btn block"
										target="_blank"
									></a>
								</div>
							</div>
					</script>
				</div>
				<!--下载APP-->
				<div class="download-app module" id="download-app">
					<h3 class="title">下载APP</h3>
					<div class="module-content module-card">
						<img class="qr_code" src="https://cbg2.fp.ps.netease.com/file/5e240ad88b742765a10d7491PaR8cDjg02" alt="">
						<div class="download-btn-wrapper">
							<a href="javascript:DOWNLOAD_APP.downloadApp();" class="android-app">
								<i class="icon-android"></i>
								<span>Android下载</span>
							</a>
							<a href="https://apps.apple.com/cn/app/wang-yi-cang-bao-ge/id931785789?mt=8" target="_blank" class="ios-app">
								<i class="icon-ios"></i>
								<span>iOS下载</span>
							</a>
						</div>
					</div>
					<div class="js_app_download_popup app-download-popup c-popup c-popup-center"></div>
				</div>
			</div>
		</div>
	</div>
	<!--页脚-->
	<div class="footer">
		<div id="NIE-copyRight"></div>
	</div>
</body>
<script>
	var TrackerDomain = 'https://sigma-other-cbg.proxima.nie.netease.com';
</script>
<script src="./js/json2.js"></script>
<script src="./js/jquery-1.9.1.min.js"></script>
<!--[if lte IE 9]>
  <script type='text/javascript' src='./js/jquery.xdomainrequest.min.js'></script>
<![endif]-->
<script src="./js/xyq-tracker.js"></script>
<script src="https://cbg.res.netease.com/libs/qrcode/qrcode.min.js"></script>
<script src="./js/utils.js?v=20190111"></script>
<script src="./js/common.js?v=20200511"></script>
<script src="./app/js/app-download.js"></script>
<script src="./js/index.js?v=20230425"></script>
<script src="./js/cbg-copyright.js"></script>
<script src="//cbg.res.netease.com/cbg/common.js"></script>

</html>